<div data-controller="page">
  <h1>Home Page</h1>
  <button data-action="click->page#openPopup">Show Popup</button>
  <%= render "shared/popup", controller_name: "page" do %>
    <p>Custom HTML here</p>
  <% end %>
</div>
