/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.my-popup {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

.my-popup.active {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease, visibility 0s linear;
}

.my-popup-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0.3;
  z-index: 9999;
}

.my-popup-content {
  position: absolute;
  z-index: 99999;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 100px;
  width: 500px;
  background: white;
  padding: 10px;
}

.my-popup-close-btn-wrapper {
  display: flex;
  justify-content: end;
}

.my-popup-close-btn {
  background: #e6e6e6;
  border: 0px;
  padding: 5px 10px;
  border-radius: 4px;
}

.my-popup-close-btn:hover {
  cursor: pointer;
  background: #dbdbdb;
}
